body {
    padding-bottom: 70px; /* Adjust based on the height of your menu */
}

.mf-navigation-mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
    display: grid;
    justify-content: space-around;
    align-items: center;
}

.mf-navigation-mobile .navigation-list {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 160px;
}

@media (max-width: 600px) {
    .mf-navigation-mobile .navigation-list {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.mf-navigation-mobile .navigation-icon {
    flex: 1 0 auto;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-mobile_subcat {
    display: none;
}

.pinned-menu-navigation-mobile_cat:hover .navigation-mobile_subcat {
    display: block;
    position: absolute;
    bottom: 50px;
    background: rgb(250, 250, 250);
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

.navigation-mobile_subcat {
    list-style-type: none;
    padding: 0;
}

.navigation-mobile_subcat li {
    padding: 5px 0;
}

.navigation-mobile_subcat li:hover {
    background-color: #e8f0ff;
}